
        <mat-card class="card"  fxLayout="column" fxLayoutAlign="center center">
            <mat-card-header class="sign-in"  fxLayoutAlign="center center">
                <h2>{{'login.signin' | translate}}</h2>
            </mat-card-header>

            <img mat-card-image src="assets/images/vollogodribbble.png" >
            <button mat-button class="google-button" (click)="auth.googleSignin()">
                <img class="google-logo" src="assets/images/google.png">
                {{'buttons.signin google' | translate}}
            </button>
        </mat-card>
