
    .card{
      margin: auto;
      padding: auto;
      height: 100vh;
        .mat-card-header {
          text-align: center;
        }

        .mat-card-image {
          width: 30%;
        }
        .google-button {
            align-items: center;
            box-shadow: 1px 1px 1px grey;

            .google-logo {
              width: 7%;
            }
        }
    }

