<form [formGroup]="form">
  <h1 mat-dialog-title>{{'buttons.add' | translate}}{{'mainboard.board' | translate}}</h1>
    <div mat-dialog-content>

      <p>{{'mainboard.board name' | translate}}</p>
      <mat-form-field>
        <input matInput type="text" formControlName="newBoardName">
      </mat-form-field>

      <p>{{'mainboard.description' | translate}}</p>
      <mat-form-field>
        <input matInput type="text" formControlName="newBoardDescription">
      </mat-form-field>

    </div>
    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">{{'buttons.cancel' | translate}}</button>
      <button mat-button [mat-dialog-close]="form.value" cdkFocusInitial>{{'buttons.add' | translate}}</button>
    </div>
</form>
