<div class="container" fxFlex="100%" fxLayout="column">
        <!-- HEADER -->
            <mat-card fxLayout="row" fxLayoutAlign="end center" fxFlex="100%">
                    <img class="header-photo" [src]="authUser.photoURL">
                    <button mat-raised-button [matMenuTriggerFor]="headerMenu">
                        {{authUser.displayName}}
                    </button>
                    <mat-menu #headerMenu="matMenu">
                        <button mat-menu-item (click)="auth.signOut()">Log Out</button>
                    </mat-menu>
                </mat-card>
        <!-- CONTENT -->
        <mat-card cdkDropListGroup class="main-content" fxFlex="100%" fxLayout="row"fxLayoutAlign="space-around start">
            <mat-card *ngFor="let board of user.boards | keyvalue" fxFlex="">
                <mat-card-header fxLayoutAlign="space-between start">
                    <mat-card-title>{{board.key}}</mat-card-title>
                    <mat-card-subtitle>Task board</mat-card-subtitle>
                    <button mat-icon-button [matMenuTriggerFor]="boardMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </mat-card-header>
                <mat-menu #boardMenu="matMenu">
                        <button mat-menu-item (click)="deleteBoard(board.key)">Delete</button>
                        <button mat-menu-item (click)="editBoard(board.key)">Edit</button>
                </mat-menu>

                <div cdkDropList
                    [cdkDropListData]="user.boards[board.key]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                    fxLayout="column">

                    <mat-card class="task"
                              *ngFor="let item of user.boards[board.key]"
                              cdkDrag>
                        <mat-card-header>
                            <mat-card-title>{{item.header}}</mat-card-title>
                            <mat-card-subtitle>Here it would be description</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>
            </mat-card>
            <mat-card class="add-board-card" fxLayoutAlign="center center" fxFlex="10%" (click)="openAddBoardDialog()">
                Add
                New Board
            </mat-card>
                <!-- <button mat-raised-button (click)="createBoard()">add</button> -->
        </mat-card>
    </div>
    