<div class="container" fxLayout="column">
        <!-- HEADER -->
        <app-header [authUser]="authUser"></app-header>

        <!-- CONTENT -->
        <div cdkDropListGroup class="main-content" fxLayout="row"fxLayoutAlign="space-around start" >
            <mat-card class="board" *ngFor="let board of user.boards; let i = index">
                <mat-card-header fxLayoutAlign="space-between start">
                    <mat-card-title>{{board.boardName}}</mat-card-title>
                    <mat-card-subtitle>{{board.description}}</mat-card-subtitle>
                    <button mat-icon-button [matMenuTriggerFor]="boardMenu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                </mat-card-header>
                <mat-menu #boardMenu="matMenu">
                        <button mat-menu-item (click)="deleteBoard(board.id)">{{'buttons.delete' | translate}}</button>
                        <button mat-menu-item (click)="editBoard(board.id)">{{'buttons.edit' | translate}}</button>
                </mat-menu>

                <div cdkDropList
                     cdkDropListOrientation="horizontal"
                    [cdkDropListData]="user.boards[i].tasks"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)"
                    fxLayout="column">

                  <button mat-button class="add-task-card" fxLayoutAlign="center center" (click)="openAddTaskDialog(board.id)">
                    {{'mainboard.add task' | translate}}
                  </button>
                    <mat-card class="task" (dblclick)="editTask(board.id, item.id)"
                              *ngFor="let item of user.boards[i].tasks"
                              cdkDrag>
                        <mat-card-header class="task-header">
                            <mat-card-title>{{item.header}}</mat-card-title>
                            <button mat-icon-button [matMenuTriggerFor]="taskMenu">
                                    <mat-icon>more_vert</mat-icon>
                            </button>
                        </mat-card-header>
                        <mat-card-content class="word-wrap">
                            <p>{{item.description}}</p>
                        </mat-card-content>
                        <mat-menu #taskMenu="matMenu">
                                <button mat-menu-item (click)="deleteTask(board.id, item.id)">{{'buttons.delete' | translate}}</button>
                                <button mat-menu-item (click)="editTask(board.id, item.id)">{{'buttons.edit' | translate}}</button>
                        </mat-menu>

                    </mat-card>
                </div>
            </mat-card>
            <mat-card class="add-board-card" fxLayoutAlign="center center" (click)="openAddBoardDialog()">
                {{'mainboard.add new board' | translate}}
            </mat-card>
                <!-- <button mat-raised-button (click)="createBoard()">add</button> -->
        </div>
    </div>
