
.main-content {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.example-list {
    border: solid 2px #ccc;
    min-height: 50vh;
    border-radius: 4px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;

    .task {
        cursor: pointer;

    }
}
.add-board-card {
    cursor: pointer;
    height: 70vh;
    width: 100px;
    text-align: center;
    &:hover {
        background-color: #ccc;
    }
}
.board {
  flex: 0 0 auto;
    width: 20vw;

}
.add-task-card {
    cursor: pointer;
    height: 10%;
    width: 100%;
    text-align: center;
    &:hover {
        background-color: #ccc;
    }
}
.word-wrap {
    word-wrap: break-word;
}
.task-header {
    justify-content: space-between;
}
